[submodule "src/thirdparty/glfw"]
	path = src/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3.7
[submodule "src/thirdparty/assimp"]
	path = src/thirdparty/assimp
	url = https://github.com/assimp/assimp.git
