[submodule "src/thirdparty/glfw"]
	path = src/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3.7
[submodule "src/thirdparty/stb"]
	path = src/thirdparty/stb
	url = https://github.com/nothings/stb.git
